wget
unzip
file
make
openssl
openssl-devel
net-snmp
net-snmp-utils
bzip2-devel
libffi-devel
zlib-devel
sqlite-devel
readline-devel
xz-devel
ncurses-devel
gdbm-devel
gdb
dnf-plugins-core
meson
ninja-build
gtest-devel
lcov
perl-JSON
perl-JSON-XS
