[submodule "ezsnmp/patches/net-snmp-5.9"]
	path = ezsnmp/patches/net-snmp-5.9
	url = https://github.com/net-snmp/net-snmp.git
[submodule "ezsnmp/patches/net-snmp-5.8"]
	path = ezsnmp/patches/net-snmp-5.8
	url = https://github.com/net-snmp/net-snmp.git
[submodule "ezsnmp/patches/net-snmp-5.7"]
	path = ezsnmp/patches/net-snmp-5.7
	url = https://github.com/net-snmp/net-snmp.git
[submodule "ezsnmp/patches/net-snmp-5.6"]
	path = ezsnmp/patches/net-snmp-5.6
	url = https://github.com/net-snmp/net-snmp.git
