atomicwrites==1.4.1
attrs==25.3.0
black==25.1.0
click== 8.1.8
colorama==0.4.6
packaging==25.0
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pycodestyle==2.13.0
pyparsing==3.2.3
termcolor==3.1.0
tomli==2.2.1
setuptools==80.7.1
urllib3==2.4.0
build==1.2.2
cibuildwheel==2.23.3
pip==25.1.1
wheel==0.46.1