atomicwrites==1.4.1
attrs==25.1.0
black==25.1.0
click== 8.1.8
colorama==0.4.6
flake8==7.1.2
packaging==24.2
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pycodestyle==2.12.1
pyflakes==3.2.0
pyparsing==3.2.1
termcolor==2.5.0
tomli==2.2.1
setuptools==75.8.2
urllib3==2.3.0
build==1.2.2
cibuildwheel==2.23.0
pip==25.0.1
wheel==0.45.1