wget
unzip
file
make
openssl
openssl-devel
bzip2-devel
libffi-devel
zlib-devel
sqlite-devel
python3.12
python3.12-devel
python3.13
python3.13-devel
python3-pip
net-snmp
net-snmp-utils
net-snmp-devel
gcc-c++
gdb
dnf-utils
meson
ninja-build
gtest-devel
lcov