wget
unzip
file
make
openssl
openssl-devel
bzip2-devel
libffi-devel
zlib-devel
sqlite-devel
net-snmp
net-snmp-utils
net-snmp-devel
gdb
dnf-utils
meson
ninja-build
gtest-devel
lcov
perl-JSON
perl-JSON-XS
