name: Docker Build Cloud

on:
  push:
    branches: [ main, feature/100_percent_working_docker_builds ]
  workflow_dispatch:
  schedule:
    # Run every 2 weeks on Monday at 00:00 UTC
    - cron: '0 0 * * 1'

jobs:
  docker:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        distribution: [almalinux10, archlinux, archlinux_netsnmp_5.8, centos7, rockylinux8]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_PAT }}
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        with:
          driver: cloud
          endpoint: "carlkidcrypto/ezsnmp-cloud-builder"
      - name: Build and push ${{ matrix.distribution }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./docker/${{ matrix.distribution }}/Dockerfile
          push: true
          tags: "${{ secrets.DOCKER_USER }}/ezsnmp_test_images:${{ matrix.distribution }}-latest"
          # For pull requests, export results to the build cache.
          # Otherwise, push to a registry.
          outputs: ${{ github.event_name == 'pull_request' && 'type=cacheonly' || 'type=registry' }}
