name: "Pull Request Sphinx Docs Check"

on:
 push:
    branches: [ main , feature/get_uts_to_run_in_gh_runners_3]

  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

jobs:
  sphinx_docs_build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Set up Python 3.11 env for sphinx...
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: "3.11"

      - name: Cache pip dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-sphinx-${{ hashFiles('sphinx_docs_build/requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-sphinx-
            ${{ runner.os }}-pip-

      - name: Install Build Requirements
        uses: carlkidcrypto/os-specific-runner@39336e3ec1a53bcdce44b9e9388da204f79203d9 # v2.1.3
        with:
          linux: |
            sudo apt install -y libsnmp-dev g++ python3-dev doxygen;

      - name: Install Pip Requirements
        uses: carlkidcrypto/os-specific-runner@39336e3ec1a53bcdce44b9e9388da204f79203d9 # v2.1.3
        with:
          linux: |
            cd /home/runner/work/ezsnmp/ezsnmp/sphinx_docs_build;
            pip install -r requirements.txt;

      - name: Run sphinx...
        uses: carlkidcrypto/os-specific-runner@39336e3ec1a53bcdce44b9e9388da204f79203d9 # v2.1.3
        with:
          linux: |
            cd /home/runner/work/ezsnmp/ezsnmp/;
            rm -drf build ezsnmp.egg-info;
            python3 -m pip install .;
            mkdir -p doxygen_docs_build;
            doxygen .doxygen;
            cd /home/runner/work/ezsnmp/ezsnmp/sphinx_docs_build;
            mkdir -p source/_static;
            mkdir -p source/_templates;
            make clean && make html SPHINXOPTS="-W";

      - name: Archive Sphinx Documentation
        if: github.event_name == 'release'
        uses: carlkidcrypto/os-specific-runner@39336e3ec1a53bcdce44b9e9388da204f79203d9 # v2.1.3
        with:
          linux: |
            cd /home/runner/work/ezsnmp/ezsnmp/
            zip -r sphinx_documentation.zip docs/

      - name: Upload Release Asset
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@e8f9f06c4b078e705bd2ea027f0926603fc9b4d5 # v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: /home/runner/work/ezsnmp/ezsnmp/sphinx_documentation.zip
          asset_name: sphinx_documentation.zip
          asset_content_type: application/zip