name: "Pull Request Sphinx Docs Check"

on:
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

jobs:
  sphinx_docs_build:
    runs-on: ubuntu-latest
    env:
      PYTHONPATH: ${{ github.workspace }}
    steps:
      - name: Check out repository code
        uses: actions/checkout@v5

      - name: Set up Python 3.11 env for sphinx...
        uses: actions/setup-python@v6
        with:
          python-version: "3.11"

      - name: Install Build Requirements
        uses: carlkidcrypto/os-specific-runner@v2.1.3
        with:
          linux: |
            sudo apt install -y libsnmp-dev g++ python3-dev doxygen;
            cd /home/runner/work/ezsnmp/ezsnmp/ &&
            rm -drf build ezsnmp.egg-info &&
            python3 -m pip install .;

      - name: Install Pip Requirements
        uses: carlkidcrypto/os-specific-runner@v2.1.3
        with:
          linux: |
            cd /home/runner/work/ezsnmp/ezsnmp/sphinx_docs_build;
            pip install -r requirements.txt;

      - name: Run sphinx...
        uses: carlkidcrypto/os-specific-runner@v2.1.3
        with:
          linux: |
            cd /home/runner/work/ezsnmp/ezsnmp/;
            mkdir doxygen_docs_build;
            doxygen .doxygen;
            cd /home/runner/work/ezsnmp/ezsnmp/sphinx_docs_build;
            mkdir source/_static;
            mkdir source/_templates;
            make clean && make html SPHINXOPTS="-W";

      - name: Archive Sphinx Documentation
        if: github.event_name == 'release'
        uses: carlkidcrypto/os-specific-runner@v2.1.3
        with:
          linux: |
            cd /home/runner/work/ezsnmp/ezsnmp/
            zip -r sphinx_documentation.zip docs/

      - name: Upload Release Asset
        if: github.event_name == 'release'
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: /home/runner/work/ezsnmp/ezsnmp/sphinx_documentation.zip
          asset_name: sphinx_documentation.zip
          asset_content_type: application/zip