name: Run Dockerized Python Tests

concurrency: tests-docker-python-tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Check for changes in source code
        id: changed-files
        uses: tj-actions/changed-files@v47.0.0
        with:
          files: |
            .github/workflows/tests_docker_python_tests.yml
            **/*.py
            **/*.cpp
            **/*.h
            python_tests/*.conf
            setup.py
            setup.cfg
            tox.ini
            python_tests/requirements.txt
            docker/**

  test-python-tests:
    needs: check-changes
    if: needs.check-changes.outputs.any_changed == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Run unit tests inside the Docker container
        run: |
           cd docker/
           chmod +x run_python_tests_in_all_dockers.sh
           ./run_python_tests_in_all_dockers.sh

      - name: Upload Test Results
        uses: actions/upload-artifact@v5
        with:
          name: unittest-results_docker
          path: |
            docker/coverage_*.xml
            docker/test-outputs_*.txt

  comment-unittest-coverage-report:
    runs-on: ubuntu-latest
    needs: test-python-tests
    permissions:
      pull-requests: write # This is needed to create/update comments
    if: always() 
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v6
        with:
          pattern: unittest-results_*
          merge-multiple: true 
      
      - name: List files
        run: ls -Rlah

      - name: Unittest coverage comment (Dockerized Tests)
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}
          MERGE_COVERAGE_FILES: true
          MINIMUM_GREEN: 80
          MINIMUM_ORANGE: 60