name: Run Dockerized Cpp Tests

concurrency: tests-docker-cpp-tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

# Added explicit permissions so the publish-unit-test-result action can create check runs
permissions:
  contents: write
  checks: write

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Check for changes in source code
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            .github/workflows/tests_docker_cpp_tests.yml
            docker/**
            ezsnmp/*.cpp
            ezsnmp/*.h
            python_tests/*.conf
            python_tests/*.py
            python_tests/requirements.txt
            setup.cfg
            setup.py
            tox.ini

  test-cpp-tests:
    needs: check-changes
    if: needs.check-changes.outputs.any_changed == 'true'
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

      - name: Run unit tests inside the Docker container
        run: |
           cd docker/
           chmod +x run_cpp_tests_in_all_dockers.sh
           ./run_cpp_tests_in_all_dockers.sh

      - name: Upload Test Results
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: cpp-test-results-dockerized
          path: |
            docker/test-results_*.xml
            docker/test-outputs_*.txt

  comment-cpp-test-report:
    runs-on: ubuntu-latest
    needs: test-cpp-tests
    permissions:
      pull-requests: write # Needed to create/update PR comments
      contents: write      # Needed to read artifacts/content for check run
      checks: write        # Needed to create/update check runs
    if: always()
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v6
        with:
          pattern: cpp-test-results-*
          merge-multiple: true 
      
      - name: List files
        run: ls -Rlah

      - name: Publish C++ Test Results (Dockerized Tests)
        uses: EnricoMi/publish-unit-test-result-action@34d7c956a59aed1bfebf31df77b8de55db9bbaaf # v2
        if: always()
        with:
          files: "test-results_*.xml"
          check_name: C++ Test Results - Dockerized
          comment_title: C++ Test Results - Dockerized