name: Run Dockerized Python Tests

concurrency: tests-docker-python-tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  check-changes:
    runs-on: ubuntu-latest
    outputs:
      any_changed: ${{ steps.changed-files.outputs.any_changed }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Check for changes in source code
        id: changed-files
        uses: tj-actions/changed-files@v47.0.0
        with:
          files: |
            .github/workflows/tests_docker_python_tests.yml
            **/*.py
            **/*.cpp
            **/*.h
            python_tests/*.conf
            setup.py
            setup.cfg
            tox.ini
            python_tests/requirements.txt
            docker/**

  test-python-tests:
    needs: check-changes
    if: needs.check-changes.outputs.any_changed == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Run unit tests inside the Docker container
        run: |
           cd docker/
           chmod +x run_python_tests_in_all_dockers.sh
           ./run_python_tests_in_all_dockers.sh

      - name: Upload Test Results
        uses: actions/upload-artifact@v4
        with:
          name: pytest-results_${{ matrix.distribution }}
          path: |
            docker/test-results_${{ matrix.distribution }}*.xml
            docker/test-outputs_${{ matrix.distribution }}*.txt

  comment-pytest-coverage-report:
    runs-on: ubuntu-latest
    needs: test-python-tests
    permissions:
      pull-requests: write # This is needed to create/update comments
    if: always() 
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v5
        with:
          pattern: pytest-results_*
          merge-multiple: true 
      
      - name: List files
        run: ls -Rlah

      - name: Pytest coverage comment (Dockerized Tests)
        uses: MishaKav/pytest-coverage-comment@v1.1.57
        with:
          title: Pytest Coverage Report - Dockerized Tests
          unique-id-for-comment: dockerized-python-tests
          hide-badge: true
          hide-report: true
          create-new-comment: false
          hide-comment: false
          report-only-changed-files: false
          multiple-files: |
            almalinux10_py39, test-outputs_almalinux10_test_container_py39.txt, test-results_almalinux10_test_container_py39.xml
            almalinux10_py310, test-outputs_almalinux10_test_container_py310.txt, test-results_almalinux10_test_container_py310.xml
            almalinux10_py311, test-outputs_almalinux10_test_container_py311.txt, test-results_almalinux10_test_container_py311.xml
            almalinux10_py312, test-outputs_almalinux10_test_container_py312.txt, test-results_almalinux10_test_container_py312.xml
            almalinux10_py313, test-outputs_almalinux10_test_container_py313.txt, test-results_almalinux10_test_container_py313.xml
            archlinux_py39, test-outputs_archlinux_test_container_py39.txt, test-results_archlinux_test_container_py39.xml
            archlinux_py310, test-outputs_archlinux_test_container_py310.txt, test-results_archlinux_test_container_py310.xml
            archlinux_py311, test-outputs_archlinux_test_container_py311.txt, test-results_archlinux_test_container_py311.xml
            archlinux_py312, test-outputs_archlinux_test_container_py312.txt, test-results_archlinux_test_container_py312.xml
            archlinux_py313, test-outputs_archlinux_test_container_py313.txt, test-results_archlinux_test_container_py313.xml
            archlinux_netsnmp_5.8_py39, test-outputs_archlinux_netsnmp_5.8_test_container_py39.txt, test-results_archlinux_netsnmp_5.8_test_container_py39.xml
            archlinux_netsnmp_5.8_py310, test-outputs_archlinux_netsnmp_5.8_test_container_py310.txt, test-results_archlinux_netsnmp_5.8_test_container_py310.xml
            archlinux_netsnmp_5.8_py311, test-outputs_archlinux_netsnmp_5.8_test_container_py311.txt, test-results_archlinux_netsnmp_5.8_test_container_py311.xml
            archlinux_netsnmp_5.8_py312, test-outputs_archlinux_netsnmp_5.8_test_container_py312.txt, test-results_archlinux_netsnmp_5.8_test_container_py312.xml
            archlinux_netsnmp_5.8_py313, test-outputs_archlinux_netsnmp_5.8_test_container_py313.txt, test-results_archlinux_netsnmp_5.8_test_container_py313.xml
            centos7_py39, test-outputs_centos7_test_container_py39.txt, test-results_centos7_test_container_py39.xml
            centos7_py310, test-outputs_centos7_test_container_py310.txt, test-results_centos7_test_container_py310.xml
            centos7_py311, test-outputs_centos7_test_container_py311.txt, test-results_centos7_test_container_py311.xml
            centos7_py312, test-outputs_centos7_test_container_py312.txt, test-results_centos7_test_container_py312.xml
            centos7_py313, test-outputs_centos7_test_container_py313.txt, test-results_centos7_test_container_py313.xml
            rockylinux8_py39, test-outputs_rockylinux8_test_container_py39.txt, test-results_rockylinux8_test_container_py39.xml
            rockylinux8_py310, test-outputs_rockylinux8_test_container_py310.txt, test-results_rockylinux8_test_container_py310.xml
            rockylinux8_py311, test-outputs_rockylinux8_test_container_py311.txt, test-results_rockylinux8_test_container_py311.xml
            rockylinux8_py312, test-outputs_rockylinux8_test_container_py312.txt, test-results_rockylinux8_test_container_py312.xml
            rockylinux8_py313, test-outputs_rockylinux8_test_container_py313.txt, test-results_rockylinux8_test_container_py313.xml